--no-private
--title=OpenTelemetry Net::LDAP Instrumentation
--markup=markdown
--main=README.md
--stats
--list-undoc
./lib/opentelemetry/instrumentation/**/*.rb
./lib/opentelemetry/instrumentation.rb
-
README.md
CHANGELOG.md
